@import 'src/js/components/app.scss';

.components {
	padding: 0.2%;
	border: solid 2px $color_2;
	border-radius: 10px;
}

.badge-dimension {
	color: white;
	background-color: green;
}

.badge-attribute {
	color: white;
	background-color: orange;
}

.badge-measure {
	color: white;
	background-color: purple;
}

.empty-component {
	margin-top: 100px;
}
