@import 'src/js/components/app.scss';

.badge-dimension {
	color: white;
	background-color: green;
}

.badge-attribute {
	color: white;
	background-color: orange;
}

.badge-measure {
	color: white;
	background-color: purple;
}
